<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../tf-backend/tf-backend.html">
<link rel="import" href="../tf-color-scale/tf-color-scale.html">
<link rel="import" href="../tf-dashboard-common/tf-categorizer.html">
<link rel="import" href="../tf-dashboard-common/tf-dashboard.html">
<link rel="import" href="../tf-dashboard-common/tf-panes-helper.html">
<link rel="import" href="../tf-dashboard-common/tf-option-selector.html">
<link rel="import" href="../tf-dashboard-common/tf-sidebar-helper.html">
<link rel="import" href="../tf-imports/lodash.html">
<link rel="import" href="../vz-histogram-timeseries/vz-histogram-timeseries.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<!--
Simple weights page
-->
<dom-module id="tf-weights-dashboard">
    <template>
        <tf-dashboard-layout>
            <!-- Sidebar, might be used later.-->
            <div class="sidebar">
                <tf-sidebar-helper
                    backend="[[backend]]"
                    categories="{{_categories}}"
                    color-scale="[[_colorScale]]"
                    run2tag="[[run2tag]]"
                    runs="[[runs]]"
                    selected-runs="{{_selectedRuns}}"
                    show-download-links="{{_showDownloadLinks}}"
                    >

                </tf-sidebar-helper>
            </div>
            <div class="center">
                <tf-weights-dashboard-board id="weightsboard">
                </tf-weights-dashboard-board>
            </div>
        </tf-dashboard-layout>

        <style>
            .center {
                height: 100%;
                width: 100%;
            }

        </style>

    </template>

    <script>
        Polymer({
            is: "tf-weights-dashboard",
            behaviors: [
                TF.Dashboard.ReloadBehavior("tf-chart-scaffold"),
                TF.Backend.Behavior,
            ],
            properties: {
                backend: Object,
                dataType: {
                    type: String,
                    value: "histogram"
                },
                _histogramMode: {
                    type: String,
                    value: "offset"
                },
                _timeProperty: {
                    type: String,
                    value: "step"
                },
                _colorScaleFunction: {
                    type: Function,
                    computed: "_getColorScaleFunction(_colorScale)"
                },
            },
            attached: function() {
                this.async(function() {
                    this.fire("rendered");
                });
            },
            _getColorScaleFunction: function() {
                return this._colorScale.scale.bind(this._colorScale);
            },
        });
    </script>
</dom-module>
